body {
    background: linear-gradient
    height: 100vh; 
    margin: 0; 
    font-family: 'Montserrat', sans-serif; 
}

.content {
    display: flex; 
    align-items: flex-start; 
    margin-top: 70px; 
}

.top-left-image {
    width: 300px; 
    height: auto; 
    transform: rotate(10deg);
    border-radius: 25px;
    margin-left: 15px;
    border:  solid 5px whitesmoke;
    transition: width 2s, height 2s, transform 2s;
}
.top-left-image:hover{
    width: 400px;
    height: 400px;
    transform: rotate(360deg);
}

.golf-paragraph {
    margin-left: 30px; /
    color: white; /* Text color */
}

.content-bottom {
    display: flex; 
    align-items: flex-start; 
    margin-top: 90px; 
}

.bottom-right-image {
    width: 300px; 
    height: auto; 
    transform: rotate(-10deg);
    margin-right: 20px; 
    border-radius: 25px; 
    border:  solid 5px black;
    transition: width 2s, height 2s, transform 2s;
}

.bottom-right-image:hover{
    width: 400px;
    height: 400px;
    transform: rotate(360deg);
}

.golf-paragraph2 {
    margin-left: 30px; 
    color: white; 
    margin: 20px;
}





.header {
    height: 200px; 
    display: flex; 
    background-image: url('Images/strand.jpg'); 
    background-size: cover;
    background-position: center; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: white; 
    text-align: center;
    position: relative; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom: 5px solid white;
    
}

h1 {
    font-size: 120px;
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    margin: -0px; 
    font-size: 50px; 
    margin-top: 5px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.footer {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px; 
    background-image: url(Images/celebrate.webp); 
    background-size: cover; 
    background-position: center; 
    border-top: 5px solid white; 
}

.footer-links {
    max-width: 500px; 
}

.footer-links p {
    font-weight: bold; 
}

.footer-links ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
    align-items: center; 
}

.footer-links li {
    position: relative; 
}

.footer-image {
    width: 200px;
    height: auto;
    margin-left: 20px; 
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 15px 50px;
    border: 5px solid whitesmoke;
}
.footer-button {
    background-color: #0077be; 
    color: white;
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
    z-index: 1; 
}
.footer-button:hover {
    background-color: #005f8c; 
}

.footer-links li:not(:last-child)::after {
    content: ""; 
    position: absolute; 
    right: -5px; 
    top: 50%; 
    transform: translateY(-50%); 
    height: 20px; 
    width: 2px; 
    background-color: white; 
    z-index: 0; 
}

.foot-para{
    color: white;
}


